h1 {
  font: 30px Times;
}

body {
  font: 14px Times;
  	background: url('http://i.stack.imgur.com/jGlzr.png');
	background-repeat: no-repeat;
	background-position: top;
    background-size: contain;
    height: 500px;  
  
}

