#Resume-Name {
  font: 32px Times;
  font-weight: bold;
  border-bottom: 1px solid black;
}

body {
	margin-left: 20%;
	margin-right: 20%;
  	font: 14px Times;  
  	background: url('http://i.stack.imgur.com/jGlzr.png');
	background-repeat: repeat;
	background-position: center;
   	background-size:cover;
	background-attachment: fixed;
	height: 500px;  
}

#Portait {
  float: right;
}

#Resume-Name{
	padding:50ox 80px;
}

