h1 {
  font: 100px Times;
  font-style: bold;
}

body {
  font: 14px Times;  
  	background: url('http://i.stack.imgur.com/jGlzr.png');
	background-repeat: no-repeat;
	background-position: center;
   	background-size:cover;
	background-attachment: fixed;
	opacity:0.10;
    height: 500px;  
}

#Portait {
  float: right;
}

#Resume-Name{
	padding:50ox 80px;
}

